AI_agent_Booking.json
{
  "name": "AI agent Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0ff83132-205e-428b-a1ef-c5bf7bf59b97",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": [
            "https://slyko.tech",
            "https://slyko.com",
            "https://app.slyko.com"
          ],
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        100
      ],
      "id": "fe9a6c15-6cce-4e0b-b958-69861de7f7c8",
      "name": "Webhook",
      "webhookId": "0ff83132-205e-428b-a1ef-c5bf7bf59b97"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message || $json.body?.message || $json.query?.message || $json.transcript || 'Client interaction for scheduling demo meeting' }}",
        "options": {
          "systemMessage": "You are Sarah from Slyko Technologies. Today is {{ $json.metadata?.currentDate || $now.format('MMMM D, YYYY') }} at {{ $json.metadata?.currentTime || $now.format('h:mm A') }} IST.\n\n## CLIENT INFORMATION (FROM CALL DATA)\n- Name: {{ $json.metadata?.clientFirstName }} {{ $json.metadata?.clientLastName }}\n- Company: {{ $json.metadata?.clientCompany }}\n- Email: {{ $json.metadata?.clientEmail }}\n- Company Info: {{ $json.metadata?.companyInfo }}\n\n## CRITICAL INSTRUCTIONS\n\n1. **PERSONALIZATION REQUIRED**\n   - ALWAYS address the client by their first name ({{ $json.metadata?.clientFirstName }})\n   - MENTION their company name ({{ $json.metadata?.clientCompany }}) naturally in conversation\n   - USE the company info to show you understand their business\n\n2. **TIME AWARENESS**\n   - Current time is {{ $json.metadata?.currentTime || $now.format('h:mm A') }} IST\n   - Today is {{ $json.metadata?.currentDay || $now.format('dddd') }}, {{ $json.metadata?.currentDate || $now.format('MMMM D, YYYY') }}\n   - DO NOT suggest times that have already passed today\n   - Business hours are 9 AM to 6 PM IST\n\n3. **BOOKING PROCESS**\n   When client requests a specific time:\n   - First CHECK if that exact time is available using GetAvailability\n   - If available, BOOK IT immediately without suggesting alternatives\n   - Only suggest alternatives if the requested time is unavailable\n\n4. **TOOL USAGE - FOLLOW THIS EXACT SEQUENCE**\n   \n   Step 1: When client mentions scheduling/booking:\n   - Say: \"Let me check our calendar for [specific time requested]\"\n   - Use GetAvailability with:\n     * timeMin: Start of the requested time in ISO format\n     * timeMax: 30 minutes after the requested time in ISO format\n   \n   Step 2: Based on availability:\n   - If available: \"Great! [Time] is available. Let me book that for you.\"\n   - If not available: \"That time isn't available. How about [alternative]?\"\n   \n   Step 3: Once time is confirmed:\n   - Use BookAppointment with exact ISO format times\n   - StartTime: Confirmed meeting start (e.g., 2025-07-06T14:00:00+05:30)\n   - EndTime: 30 minutes later (e.g., 2025-07-06T14:30:00+05:30)\n   \n   Step 4: After successful booking:\n   - Use Gmail to send confirmation\n   - Say: \"Perfect! I've scheduled our demo for [date and time]. You'll receive a confirmation email shortly.\"\n\n5. **RESPONSE FORMATS**\n   - Successful booking: \"Cool, I've scheduled a demo meeting with our expert at [CLIENT'S REQUESTED DATE AND TIME]. Our expert looks forward to speaking with you soon. Goodbye!\"\n   - Time unavailable: \"Sorry, that time doesn't seem to be available at [CLIENT'S REQUESTED DATE AND TIME]. Let me check another one for you.\"\n\n## EXAMPLE INTERACTION\n\nClient: \"Can we schedule for tomorrow at 2 PM?\"\n\nYou: \"Hi {{ $json.metadata?.clientFirstName }}, let me check our calendar for tomorrow at 2 PM.\"\n[Use GetAvailability for 2025-07-06T14:00:00+05:30 to 2025-07-06T14:30:00+05:30]\n\nIf available:\n\"Great! Tomorrow at 2 PM is available. Let me book that for you now.\"\n[Use BookAppointment]\n[Use Gmail]\n\"Cool, I've scheduled a demo meeting with our expert at tomorrow, July 6th at 2:00 PM IST. Our expert looks forward to speaking with you soon. Goodbye!\"\n\n## REMEMBER\n- Never mention tools or technical processes\n- Always use the client's requested time in your responses\n- Personalize every interaction with their name and company\n- Consider current time when suggesting slots",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        380,
        100
      ],
      "id": "7c8b8595-7f58-4319-8e49-d716bf35cf94",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_b261d52d02e4d6d15377a4727fb08a5eb1b9716282233cbe6542f15573814404@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Slyko"
        },
        "start": "={{ $fromAI(\"StartTime\",\"The exact start time the client confirmed for the meeting in ISO 8601 format with IST timezone (YYYY-MM-DDTHH:mm:ss+05:30)\") }}",
        "end": "={{ $fromAI(\"EndTime\",\"The end time which is exactly 30 minutes after start time in ISO 8601 format with IST timezone (YYYY-MM-DDTHH:mm:ss+05:30)\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.metadata?.clientEmail || $fromAI(\"ClientEmail\",\"The client's email address\") }}",
            "hi@slyko.tech",
            "pranay@slyko.tech"
          ],
          "description": "=ERP & AI Automation Demo - Scheduled via AI Cold Call Agent\n\nClient Details:\n- Name: {{ $json.metadata?.clientFirstName }} {{ $json.metadata?.clientLastName }}\n- Email: {{ $json.metadata?.clientEmail }}\n- Company: {{ $json.metadata?.clientCompany }}\n- Company Info: {{ $json.metadata?.companyInfo }}\n\nMeeting Type: 30-minute ERP & AI automation demonstration\n\nJoin via Google Meet link provided in calendar invitation.\n\nNote: This meeting was scheduled through our AI cold calling system on {{ $now.format('MMMM Do, YYYY') }}.",
          "summary": "=ERP & AI Demo - {{ $json.metadata?.clientFirstName }} {{ $json.metadata?.clientLastName }} | {{ $json.metadata?.clientCompany }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        660,
        380
      ],
      "id": "0f2f2635-0a7d-4723-9d04-520ce6a6de0d",
      "name": "BookAppointment",
      "description": "Books a 30-minute demo meeting. Use ONLY after client confirms a specific time.",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hmWtNIdssyEUpLyl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/calendar/v3/calendars/c_b261d52d02e4d6d15377a4727fb08a5eb1b9716282233cbe6542f15573814404@group.calendar.google.com/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $fromAI(\"timeMin\", \"Start time for checking availability in ISO 8601 format with IST timezone (YYYY-MM-DDTHH:mm:ss+05:30). This should be the exact time the client requested.\") }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $fromAI(\"timeMax\", \"End time for checking availability in ISO 8601 format with IST timezone (YYYY-MM-DDTHH:mm:ss+05:30). This should be 30 minutes after the requested start time to check for conflicts.\") }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "fields",
              "value": "items(id,summary,start,end,status)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        520,
        380
      ],
      "id": "fecd35df-a23b-4c61-86ef-cdc503711929",
      "name": "GetAvailability",
      "description": "Checks if a specific time slot is available. Use when client requests a specific time.",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hmWtNIdssyEUpLyl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.metadata?.clientEmail || $fromAI(\"ClientEmail\", \"The client's email address\") }}",
        "subject": "=🚀 ERP & AI Demo Confirmed - {{ $json.metadata?.clientFirstName }} {{ $json.metadata?.clientLastName }} x Slyko Technologies",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background-color: #f4f4f4; }\n        .container { max-width: 650px; margin: 0 auto; background: white; box-shadow: 0 0 20px rgba(0,0,0,0.1); }\n        .header { background: linear-gradient(135deg, #2c3e50, #3498db); color: white; padding: 30px 20px; text-align: center; }\n        .header h1 { margin: 0; font-size: 28px; font-weight: 300; }\n        .content { padding: 30px; }\n        .meeting-details { background: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #3498db; }\n        .meeting-details h3 { margin-top: 0; color: #2c3e50; }\n        .button { background: linear-gradient(135deg, #27ae60, #2ecc71); color: white; padding: 15px 30px; text-decoration: none; border-radius: 25px; display: inline-block; margin: 15px 0; font-weight: bold; transition: transform 0.2s; }\n        .button:hover { transform: translateY(-2px); }\n        .footer { text-align: center; padding: 20px; background: #2c3e50; color: white; font-size: 14px; }\n        .logo { font-size: 24px; font-weight: bold; margin-bottom: 10px; }\n        .highlight { background: #e3f2fd; padding: 3px 6px; border-radius: 3px; color: #1976d2; font-weight: 500; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <div class=\"logo\">Slyko Technologies</div>\n            <h1>🚀 Your ERP & AI Demo is Confirmed!</h1>\n            <p style=\"margin: 10px 0 0 0; opacity: 0.9;\">Let's transform your business operations together</p>\n        </div>\n        <div class=\"content\">\n            <p>Hi {{ $json.metadata?.clientFirstName }},</p>\n            \n            <p>Thank you for your interest in our ERP and AI automation solutions for {{ $json.metadata?.clientCompany }}. I'm excited to show you how Slyko Technologies can help optimize your business operations.</p>\n            \n            <div class=\"meeting-details\">\n                <h3>📅 Meeting Information</h3>\n                <p><strong>Date & Time:</strong> <span class=\"highlight\">{{ $fromAI(\"MeetingDateTime\", \"The scheduled meeting date and time in a readable format like 'July 6, 2025 at 2:00 PM IST'\") }}</span></p>\n                <p><strong>Duration:</strong> 30 minutes</p>\n                <p><strong>Meeting Type:</strong> ERP & AI Automation Demo</p>\n                <p><strong>Company:</strong> {{ $json.metadata?.clientCompany }}</p>\n                <p><strong>Your Email:</strong> {{ $json.metadata?.clientEmail }}</p>\n            </div>\n            \n            <p><strong>What We'll Cover:</strong></p>\n            <ul>\n                <li>Custom ERP solutions for {{ $json.metadata?.clientCompany }}</li>\n                <li>AI Automation capabilities specific to your industry</li>\n                <li>Implementation process and timeline</li>\n                <li>ROI & Cost savings analysis</li>\n                <li>Q&A Session</li>\n            </ul>\n            \n            <p><strong>Need to reschedule or have questions?</strong><br>\nJust reply to this email or call us.</p>\n            \n            <p>Looking forward to our demo session!</p>\n            \n            <p>Best regards,<br>\n            <strong>Sarah</strong><br>\n            <em>Business Solutions Consultant</em><br>\n            Slyko Technologies<br>\n            📧 hi@slyko.tech</p>\n        </div>\n        <div class=\"footer\">\n            <p><strong>Slyko Technologies</strong> - ERP Systems & AI Automation</p>\n            <p>© 2025 Slyko Technologies. All rights reserved.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        800,
        380
      ],
      "id": "f02f8096-2631-407f-9159-cdc38ecdb7fa",
      "name": "Gmail",
      "description": "Sends confirmation email after successful booking.",
      "webhookId": "bd5a108e-2ca1-4bd1-851d-9d39260493e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "weQ3Bc3Jd3H3GFFO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        380
      ],
      "id": "5c116c1c-8733-4962-b647-a1d67d3c0442",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iPTUIvTkBSAMAbAS",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"response\": {{ JSON.stringify($('AI Agent').item.json.output || $('AI Agent').item.json.text || \"AI response processed\") }},\n  \"timestamp\": \"{{ $now }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata || {}) }},\n  \"meetingScheduled\": {{ $('AI Agent').item.json.meetingScheduled || false }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        100
      ],
      "id": "90020d22-d5d2-42af-97df-716baabbd952",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BookAppointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetAvailability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d68c9e62-fbb9-4de2-b276-e96e4ea47d28",
  "meta": {
    "instanceId": "5dd9cd5f2c79e3f7e8711ca2cfee4016974e2eb710f358eeef72a0078e3694cc"
  },
  "id": "JJBa3Wnb9oetw4xF",
  "tags": []
}